.login-container {
    padding: 10% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    /* background-image: url("../../Assets/Login.jpg"); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    height: 100vh;
}

.backdrop-login {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0,0,0,0.6418942577030813) 12%, rgba(214,213,213,0) 55%, rgba(0,0,0,0.6110819327731092) 80%);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.input {
    background-color: #212121;
    max-width: 100%;
    width: 537.5px;
    height: 40px;
    padding: 25px;
    color: white;
    /* text-align: center; */
    /* border: 2px solid white; */
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
    animation: visibleIn 1s ease-in-out 0.5s;
}

.main-login {
    animation: comeIn 1s ease-out 0.2s forwards;
    backdrop-filter: blur(20px);
    opacity: 0;
}

.input:focus {
    color: rgb(0, 255, 255);
    background-color: #424242;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
}

.login-container>div>form {
    /* border: 2px solid aqua; */
    padding: 20% 13%; 
    width: 700px;
    border-radius: 20px;
    /* box-shadow: 5px 5px 20px aqua; */
}

.login-container>div>form>button {
    border: 2px solid aqua;
    width: 40%;
    align-self: center;
    padding: 2% 0;
    color: aqua;
    transition: all 0.2s;

    &:hover {
        background-color: aqua;
        color: black;
    }

}

.login-heading {
    opacity: 0;
    animation: comeIn 1.2s ease-out 0.75s forwards;
    /* text-shadow: 5px 5px 15px white; */
}

/* =====================================================Register====================================================
=============================================================================================================== */

.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    z-index: 10;
}

.main-register{
    backdrop-filter: blur(20px);
    padding:5% 4% ;
    z-index: 10;
    opacity: 0;
    animation: comeIn 1s ease-out 0.5s forwards;
}

.register-button{
    border: 2px solid aqua;
    width: 20%;
    align-self: center;
    color: aqua;
    padding: 2% 2.5%;
    &:hover{
        background-color: aqua;
        color: black;
    }
}

.register-heading{
    opacity: 1;
    z-index: 10;
    opacity: 0;
    animation: comeIn 1s ease-out 0.57s forwards;
}

.register-background{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}



/* =====================================================Animations====================================================
=============================================================================================================== */

@keyframes comeIn {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes visibleIn {
    0% {
        opacity: 0;
    }

}